.skeleton {
  background-color: var(--black-300);
  border-radius: 6px;
}

.skeleton.animate {
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    background-color: var(--black-300);
  }
  50% {
    background-color: var(--black-400);
  }
  100% {
    background-color: var(--black-300);
  }
}
