.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 3px;
  width: 0vw;
  opacity: 0;
  pointer-events: none;
  background-color: var(--red-600);
  transition: opacity 1s 1s;
  animation: extend-100 0.5s forwards;
}

.loading {
  transition: 0s;
  opacity: 1;
  width: 0vw;
  animation: extend-60 10s cubic-bezier(0.15, 0.85, 0, 1) forwards;
}

@keyframes extend-60 {
  from {
    width: 0vw;
  }
  to {
    width: 60vw;
  }
}

@keyframes extend-100 {
  to {
    width: 100vw;
  }
}
